.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; /* Adjusted padding for a tighter fit */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background */
    color: white;
    z-index: 1000;
    margin: 0; /* Removes any top margin */
}


.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin: 0 15px;
    cursor: pointer;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons i {
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
}

.nav-contact-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
